    html,body{
    margin:0;
    height:100%;
    width: 100%;
}
body{
//        background-color:black;   
//        background-image: url('../img/fondo-luna-Carlos1.jpg');
//        background-image: url('../img/fondo-luna-Carlos1.jpg');
//        background-image: "url('https://shiverazul.github.io/citaprevia/dist/assets/fondo-luna-Carlos1.jpg')";
//        background-image: url('/Users/Asus/citaprevia/citaprevia/src/img/logo-carlescloquell.png');
//        background-repeat: no-repeat;
//        background-attachment: fixed;
//        background-size: 75%;    /* 100% pc */

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.fecha{
    color: rgb(35, 137, 184);
    position: relative;
    margin-top: 10px;
    margin-left: 200;//550
    font-size: 30px; //60
}

.datos{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;//60
    color: black;
    background-color: rgb(159, 190, 204);
    background-color: rgb(109, 130, 248);
    //background-color:rgb(214, 154, 75);
    margin-top: 10px;//500
    margin-left: 0px;
    border-width: 3px;
    border-style: solid;
    border-radius:100px;
    border-color:rgb(182, 184, 35);
    width: 100% ;
}
p{
    font-family:'Times New Roman', Times, serif;
    background: rgb(155, 223, 146);
    font-size: 20px;//60
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;//40
    color: rgb(35, 137, 184);
    margin-top: 15px;
    margin-left: 10px;//200
}
.noinput{
    width: 60%;
    background: rgb(155, 223, 146);
    border: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;//60
    margin-left: 0px;
}
.screenshot {
    top: 10px;
    text-decoration:none;
    font-weight: 10; 
    font-size: 1px;
    color: black;
    border-color:rgb(182, 184, 35);
    background-color:rgb(182, 184,35);
    float: right;
    margin-right: 0px;
    margin-top: 0px;//400
    width: 10px;
    padding-top:5px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:320px;
    border-width: 3px;
    border-style: solid;
    border-radius:100px;
}    
